.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.navigation{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;   
    background-color: #4f4d6a;
}

.navigation__body{
    position: relative;
    display: none;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.navigation__logo {  
    flex: 0 0 60px; /* высота относительно блока */
    overflow: hidden;
}

.navigation__logo img {
    width: 100%;
    display: block;
}
.navigation__list {
    display: flex;
}

.navigation__list li {
    list-style: none;
    margin: 0 0 0 20px;
}
.navigation__link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation__btn{
    background: #000;
    border-radius: 12px;
    padding: 10px 20px;
}

.navigation__burger {
    display: none;
}

.navigation__body.fixed {
    display: flex;
}

@media (max-width:768px){
    .navigation__body {
        height: 50px;
    }

    .navigation__logo {  
        flex: 0 0 40px; /* высота относительно блока */
    }

    .navigation__list {
        display: block;
    }
    
    .navigation__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .navigation__burger span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .navigation__burger::after,
    .navigation__burger::before {
        content: '';
        background: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .navigation__burger::before {
        top: 0;
    }
    .navigation__burger::after{
        bottom: 0;
    }

    .navigation__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .navigation__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .navigation__burger.active span{
        transform: scale(0);
    }

    .navigation__menu {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: 15%;
        background: #6a6a77;
        transition: all 0.9s ease 0s;
        display: none;
    }
    
    .navigation__menu.active {
        display: block;
    }
}


